@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


* {
	margin:0;
	padding:0;
	font-size:100%;
	font-family: 'Outfit', sans-serif;
}

body {
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	background: hsl(212, 45%, 89%);
}

h2 {
	margin-top:10px;
	font-size:1.1rem;
}

#card {
	text-align:center;
	border-radius:20px;
	margin:auto;
	width:300px;
	padding:12px;
	background:hsl(0, 0%, 100%);
}

img {
	border-radius:10px;
	width:100%;
}

#text {
	padding:10px;
}

#text p {
	color: hsl(220, 15%, 55%);
	font-size:0.75rem;
}

footer {
	width:100%;
	position:fixed;
	bottom:1rem;
	text-align:center;
}

a:link, a:active, a:visited, a:hover {
	color: Dark blue: hsl(218, 44%, 22%);
}
